---
import React from 'react';

import Layout from '../layouts/Layout.astro';

---
<Layout  title='Astro Ecommerce' description='We sell high quality stuff' >
	<div class='max-w-[1800px] mx-auto'>
	</div>
</Layout>